<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>LeagueCore</title>
<meta name="description"
	content="Page Preloading Effect: Re-creating the effect seen on fontface.ninja" />
<meta name="keywords"
	content="page loading, effect, initial, logo, sliding, web design, css animation, transform" />
<meta name="author" content="Codrops" />
<link rel="stylesheet" type="text/css" href="../css/app.css" />
<link rel="stylesheet" type="text/css" href="../css/layout-simple.css" />
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../css/demo.css" />
<link rel="stylesheet" type="text/css" href="../css/component.css" />
<link rel="stylesheet" type="text/css" href="../css/style5.css" />
<link rel="stylesheet" type="text/css" href="../css/tabstyles.css" />
<link rel="stylesheet" type="text/css" href="../css/tabs.css" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../css/effect1.css" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
</head>
<body class="">
	<div id="perspective" class="perspective effect-movedown">
		<div class="container" style="padding: 0px">
			<h1 class=" ele">Please wait</h1>
			<div class="loader">

				<svg width='196px' height='196px' xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
					class="uil-ripple">
<rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
					<g> <animate attributeName="opacity" dur="2s"
						repeatCount="indefinite" begin="0s" keyTimes="0;0.33;1"
						values="1;1;0">
</animate>
					<circle cx="50" cy="50" r="40" stroke="#afafb7" fill="none"
						stroke-width="6" stroke-linecap="round">
					<animate attributeName="r" dur="2s" repeatCount="indefinite"
						begin="0s" keyTimes="0;0.33;1" values="0;22;44">
</animate></circle></g>
					<g>
					<animate attributeName="opacity" dur="2s" repeatCount="indefinite"
						begin="1s" keyTimes="0;0.33;1" values="1;1;0">
</animate>
					<circle cx="50" cy="50" r="40" stroke="#ff4081" fill="none"
						stroke-width="6" stroke-linecap="round">
					<animate attributeName="r" dur="2s" repeatCount="indefinite"
						begin="1s" keyTimes="0;0.33;1" values="0;22;44">
</animate></circle></g>
</svg>
			</div>
			<div class="wrapper">
				<!-- wrapper needed for scroll -->
				<nav style="height: 50px; padding: 17px;" class="main_nav">
					<a href="/html/" style="color: white;">LeagueCore</a>
					<div id="morphsearch" class="morphsearch">
						<form class="morphsearch-form">
							<input class="morphsearch-input" type="search"
								placeholder="Search..." />
							<button class="morphsearch-submit"
								style="box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);"
								type="submit"></button>
						</form>
						<div class="morphsearch-content">
							<div class="dummy-column">
								<h2>Server</h2>

								<p class="dummy-media-object" th:text="@{EU West}"></p>



							</div>

						</div>
						<!-- /morphsearch-content -->
						<span class="morphsearch-close"></span>
					</div>
					<!-- /morphsearch -->
					<div style="float: right">
						<p th:text="${name}" style="color: white;"></p>

					</div>
				</nav>
				<!-- <p><button id="menu_b"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button></p> -->




				<p id="data" th:text="${name}" hidden="hidden"></p>
				<div class="animate_el">
					<div class="no_game" id="no_game">
						<div style="margin-bottom: 10%;">No active game found!</div>
						Featured list:
						<table id="featured" class="featured"
							style="margin: 60px; margin-left: 100px;">


						</table>
					</div>
					<div class="left_stats">
						<h1>Important facts</h1>
						<table id="stats">
							<!-- 	<tr>
								<td>fgfdg <span class="kdd">:</span> sdfds
								</td>
							</tr> -->


						</table>

					</div>
					<!-- 	<div class="right_stats">
						<h1>Important facts</h1>
						<section>
						
							/tabs
						</section>

					</div> -->

					<img
						src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Braum_0.jpg"
						class=" live_stats_back_op"></img>
					<div class=" live_stats_back"></div>
					<table id="table_stats" style="width: 85%;">

						<!--  <tr class="role">
      <td >
      TOP
      </td>
      <td >
        MID
      </td>

<td >
  BOTTOM
      </td>

<td >
  SUPPORT
      </td>

<td >
JUNGLE
      </td>


      </tr>-->
						<tr>
							<td id="first_row"></td>


						</tr>
						<tr>
							<td id="second_row"></td>

						</tr>

					</table>
					<form action='#' id="check">
						<div class='field position'>
							<input id='checkme' style="outline: none" type='checkbox' />

						</div>

					</form>
					<div id='output'></div>


				</div>
			</div>

		</div>
	</div>

	<div class="overlay1" id="extra_data">
		<table class="extra_class">
			<tr>
				<td colspan="3"><img
					src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Irelia.png"
					class="img_card live_stats_size" style="margin-left: 20%;"></img></td>
			</tr>
			<tr>
				<td><p>name</p></td>
			</tr>
			<tr>
				<td><p>unranekd</p></td>
			</tr>

		</table>
		<div class="extra_class_stats">
			<table style="float: left;">
				<tr>
					<td><p>KDA</p></td>
					<td><p>1</p></td>
					<td><button type="button" style="padding-left: 19px"
							class="kda_text_main kda_text" id="close_extra">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button></td>
				</tr>


			</table>
			<table style="float: left;">
				<tr>
					<td><p>KDA</p></td>
					<td><p>1</p></td>
					<td><button type="button" style="padding-left: 19px"
							class="kda_text_main kda_text" id="close_extra">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button></td>
				</tr>


			</table>
			<table style="float: left;">
				<tr>
					<td><p>KDA</p></td>
					<td><p>1</p></td>
					<td><button type="button" style="padding-left: 19px"
							class="kda_text_main kda_text" id="close_extra">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button></td>
				</tr>


			</table>
			<table style="float: left;">
				<tr>
					<td><p>KDA</p></td>
					<td><p>1</p></td>
					<td><button type="button" style="padding-left: 19px"
							class="kda_text_main kda_text" id="close_extra">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button></td>
				</tr>

			</table>
		</div>
		<table class="extra_class_stats_his " style="float: left;">
			<tr>
				<td><button type="button" style="padding-left: 19px"
						class="kda_text_main kda_text" id="close_extra">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button></td>


			</tr>
			<tr>
				<td><p>1</p></td>

			</tr>
			<tr>
				<td><p>11</p></td>

			</tr>



		</table>
		<button type="button" style="padding-left: 19px"
			class="kda_text_main kda_text" id="close_extra">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>

	</div>
	<div class="overlay"></div>
	<nav class="outer-nav top horizontal">
		<a href="#" class="">Home</a> <a href="#" class="">News</a> <a
			href="#" class="">Images</a> <a href="#" class="">Uploads</a> <a
			href="#" class="">Favorites</a> <a href="#" class="">Messages</a> <a
			href="#" class="">Security</a>
	</nav>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="../js/classie.js"></script>
	<script src="../js/pathLoader.js"></script>
	<script src="../js/modernizr.custom.js"></script>
	<script src="../js/cbpFWTabs.js"></script>

	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script type="text/javascript">
		/*<![CDATA[*/
		var show_stats = 0;

		//	$("#table_stats").hide();
		$(".no_game").hide();

		var last_table = "";
		$(".left_stats").hide();
		$("#check").hide();
		var gen_data;
		var general_data;
		function getData() {

			$
					.ajax({
						type : "GET",
						contentType : "application/json",
						url : "/getdata/" + $("#data").text(),

						dataType : 'json',
						timeout : 100000,
						success : function(data) {
							$(".ele").hide();
							$(".loader").hide();
							console.log("SUCCESS: ", data);
							gen_data = data;
							general_data = data[0].general_stats;

							if (data[15] == "no_game") {
								$(".live_stats_back").stop().animate({

									height : "0px"

								}, 1000);
								for (i = 0; i < data.length - 1; i += 3) {
									$("#featured")
											.append(
													"<tr><td colspan='2'><a style='font-size: 30px;' href='/livestats/"+data[i]+"'>"
															+ data[i]
															+ "</a>"
															+ "</td></tr>"
															+ "<tr id='"+data[i]+"'style='height:0px'><td  class='"+data[i]+"_td extra_feat'><p style='font-size: 30px;'>"
															+ data[i + 1]
															+ "</p>"
															+ ""
															+ "</td><td style='padding-top: 15px;' class='"+data[i]+"_td extra_feat'><p style='font-size: 30px;'>"
															+ data[i + 2]
															+ "</p></td><td style='padding-top: 15px;' class='"+data[i]+"_td extra_feat'><a style='font-size: 30px;' href='/livestats/"+data[i]+"'>View game</a></td></tr>");
								}
								$("#no_game").fadeIn();
								$(".extra_feat").hide();
							} else {

								$("#check").show();

								/* $("#table_stats").stop().fadeIn();
								$("#table_stats").stop().animate({
									opacity : 1,
									bottom : "-=50px"

								}, 500); */

								setTimeout(
										function() {
											$(".left_stats").stop().fadeIn();

											$(".left_stats").stop().animate({
												opacity : 1,
												bottom : "+=10px"

											}, 500);

											$("#stats")
													.append(
															"<tr><td>Highest KDA</td><td><span class='kdd'> : </span></td><td>"
																	+ data[0].stats.highest_kda
																	+ "</td><td><span class='kdd'> by     </span></td><td><img src= 'http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/" + data[0].stats.highest_kda_key + ".png' class='img_card live_stats_size_side'></img></td>"
																	+ "</tr>"
																	+ "<tr><td>Lowest KDA</td><td><span class='kdd'> : </span></td><td>"
																	+ data[0].stats.lowest_kda
																	+ "</td><td><span class='kdd'> by     </span></td><td><img src= 'http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/" + data[0].stats.lowest_kda_key + ".png' class='img_card live_stats_size_side'></img></td>"

																	+ "</tr>"

													);
										}, 500);

								getHistory(data[0]);

								populateData(gen_data, show_stats);
								setTimeout(function() {
									$(".live_stats_back").last().addClass(
											"loaded");

								}, 1000);
							}

						},

						done : function(e) {
							console.log("DONE");
						}
					});
		};
		$("#check").click(function() {
			if (show_stats == 0) {
				show_stats = 1;
			} else {
				show_stats = 0;
			}
			$(".switch_div").animate({
				opacity : 0,
				bottom : "+=10px"

			}, 200);
			setTimeout(function() {

				populateData(gen_data, show_stats);
				$(".switch_div").animate({
					bottom : "-=20px"
				}, 1);
				$(".switch_div").animate({
					opacity : 1,
					bottom : "+=10px"

				}, 200);
			}, 300);
		});
		var iter = 0;
		function expandTier(data) {

			if (last_table == "") {
				$("#" + data.id).animate({

					height : "+=50px"

				}, 200);
				setTimeout(function() {
					$("." + data.id + "_td").fadeIn();
				}, 200);

				last_table = data.id;
			} else {
				$("#" + data.id).animate({

					height : "+=50px"

				}, 200);
				setTimeout(function() {
					$("." + data.id + "_td").fadeIn();
				}, 200);
				$("." + last_table + "_td").fadeOut();
				setTimeout(function() {
					console.log(last_table);
					$("#" + last_table).animate({

						height : "-=250px"

					}, 500);
				}, 300);
				last_table = data.id;
			}

		}
		function getHistory(data) {

			$.ajax({
				type : "GET",
				contentType : "application/json",
				url : "/gethistory/" + data.players[iter].name,

				dataType : 'json',
				timeout : 100000,
				success : function(data) {
					console.log(data);
					iter++;
					if (iter < 10) {
						getHistory(gen_data[0]);
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
					iter++;
					if (iter < 10) {
						getHistory(gen_data[0]);
					}

				},
				done : function(e) {
					console.log("DONE");
				}
			});
		};
		setTimeout(function() {
			getData();

		}, 500);
		$(function() {

			$('#cd-dropdown').dropdown({
				gutter : 5,
				stack : false,
				slidingIn : 100
			});

		});
		function populateData(data, show_stats) {
			console.log(data);
			console.log(show_stats);
			$("#first_row").text("");
			$("#second_row").text("");
			for (i = 0; i < 5; i++) {
				$("#first_row")
						.append(
								"<div class='col-md-2'>  <div id='"+i+"_"+data[0].players[i].id+"_hover' class='demo-card-wide mdl-card mdl-shadow1--2dp element element_size'>"
										+ "<p id='"+i+"_"+data[0].players[i].id+"_hover_toggle' class='hide_hover' style='bottom:00px'>"
										+ "	Info"
										+ "</p> "
										/*    +"<div id='"+data[0].players[i].id+"_hover_toggle1' class='hide_hover1'>"
										      +" <img src= 'http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/" + data[0].players[i].icon + ".png' class='img_card live_stats_size' style='margin-top: 30px;'></img>"
										
										+" <button type='button' style='padding-left: 24px; background-color:white;color:#374d5a;width:70px !important;height:70px !important;margin-top: 30px;' class='kda_text_main kda_text' >1</i></button></div>" */

										+ "<img src= 'http://ddragon.leagueoflegends.com/cdn/img/champion/splash/"+data[0].players[i].champion_name+"_0.jpg' class=' live_stats_border'></img>"

										+ " <div class='mdl-card__title'>"
										+ " <div class' col-md-3'><img src= 'http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/" + data[0].players[i].champion_key + ".png' class='img_card live_stats_size'></img>"
										+ "<button type='button' style='padding-left: 24px; background-color:white;color:#374d5a;width:70px !important;height:70px !important;margin-top: 10px;' class='kda_text_main kda_text' >1</i></button>"
										+ "<p style='font-weight: bold;color:white;'>"
										+ data[0].players[i].tier
										+ "</p></div>"
										+ " </div>"

										+

										" <div class='mdl-tabs mdl-js-tabs mdl-js-ripple-effect'>"
										+

										" <table  class='main-panel is-active'>"
										+

										"  <tr> "
										+ "    <td> "
										+ "    <div  class='col-md-4 switch_div' style='''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].kills_per_game
										+ "<span class='kdd'>/</span></p></div> "
										+ "    <div class='col-md-4 switch_div' style='''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].assists_per_game
										+ "<span class='kdd'>/</span></p></div> "
										+ "    <div class='col-md-4 switch_div' style='''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].deaths_per_game
										+ "</p></div> "
										+

										"     </td>"
										+

										"  </tr>"
										+ "  <tr>"
										+ "      <td>"
										+ "    <p class='col-md-5' style='font-weight:bold; margin-top:13px;  color: white'>"
										+ "      Winrate<span class='kdd'>:</span>"
										+ "    </p>"
										+ "    <p class='col-md-5 switch_div' style='font-weight:bold; margin-top:13px;  color: white'>"
										+ data[0].players[i].general_stats[show_stats].winrate
										+ "</p>"
										+

										"      </td>"
										+ "  </tr>"
										+ "  <tr>"
										+ "      <td>"
										+ "        <p class='col-md-5 kda_text_live1' style='font-weight:bold; color: white;' >"
										+ "          Games played<span style='    padding-left: 10px;' class='kdd'>:</span>"
										+ "    <p class='col-md-5 switch_div' style='font-weight:bold; margin-top:13px;  color: white'>"
										+ data[0].players[i].general_stats[show_stats].games_played
										+ "</p>"
										+ "      </td>"
										+ "  </tr>"
										+ "  <tr>" + "    <td>" +

										"    </td>" + "  </tr>" + "</table>" +

										"</div>" +

										"<table>" +

										"</table>"

										+ "</div></div>");
				$("#" +i+"_"+ data[0].players[i].id + "_hover").hover(function() {

					var showID = $(this).attr("ID");
					console.log(i);
					console.log("#" + showID + "_toggle");
					/* 	$("#" + showID + "_toggle").slideToggle("fast"); */

					$("#"  + showID + "_toggle").animate({
						opacity : 1,
						bottom : "+=10px"

					}, 200);
				}, function() {
					var showID = $(this).attr("ID");
					console.log(showID);
					$("#"  + showID + "_toggle").animate({
						opacity : 0,
						bottom : "-=10px"

					}, 200);
				});
				$("#" +i+"_"+ data[0].players[i].id + "_hover_toggle").click(
						function() {

							var showID = $(this).attr("ID");
							populateExtraData(general_data,showID.charAt(0));
							$("#extra_data").toggle("fast");
						});

			
				$("#close_extra").click(function() {

					var showID = $(this).attr("ID");

					$("#extra_data").fadeOut();
				});
			}
			for (i = 5; i < 10; i++) {
				$("#second_row")
						.append(
								"<div class='col-md-2'>  <div id='"+data[0].players[i].id+"_hover' class='demo-card-wide mdl-card mdl-shadow1--2dp element element_size'>"
										+ "<p id='"+data[0].players[i].id+"_hover_toggle' class='hide_hover' style='bottom:00px'>"
										+ "	Info"
										+ "</p> "
										/*    +"<div id='"+data[0].players[i].id+"_hover_toggle1' class='hide_hover1'>"
										      +" <img src= 'http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/" + data[0].players[i].icon + ".png' class='img_card live_stats_size' style='margin-top: 30px;'></img>"
										
										+" <button type='button' style='padding-left: 24px; background-color:white;color:#374d5a;width:70px !important;height:70px !important;margin-top: 30px;' class='kda_text_main kda_text' >1</i></button></div>" */

										+ "<img src= 'http://ddragon.leagueoflegends.com/cdn/img/champion/splash/"+data[0].players[i].champion_name+"_0.jpg' class=' live_stats_border'></img>"

										+ " <div class='mdl-card__title'>"
										+ " <div class' col-md-3'><img src= 'http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/" + data[0].players[i].champion_key + ".png' class='img_card live_stats_size'></img>"
										+ "<button type='button' style='padding-left: 24px; background-color:white;color:#374d5a;width:70px !important;height:70px !important;margin-top: 10px;' class='kda_text_main kda_text' >1</i></button>"
										+ "<p style='font-weight: bold;color:white;'>"
										+ data[0].players[i].tier
										+ "</p></div>"
										+ " </div>"

										+

										" <div class='mdl-tabs mdl-js-tabs mdl-js-ripple-effect'>"
										+

										" <table  class='main-panel is-active'>"
										+

										"  <tr> "
										+ "    <td> "
										+ "    <div  class='col-md-4 switch_div' style='''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].kills_per_game
										+ "<span class='kdd'>/</span></p></div> "
										+ "    <div class='col-md-4 switch_div' style='''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].assists_per_game
										+ "<span class='kdd'>/</span></p></div> "
										+ "    <div class='col-md-4 switch_div' style='''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].deaths_per_game
										+ "</p></div> "
										+

										"     </td>"
										+

										"  </tr>"
										+ "  <tr>"
										+ "      <td>"
										+ "    <p class='col-md-5' style='font-weight:bold; margin-top:13px;  color: white'>"
										+ "      Winrate<span class='kdd'>:</span>"
										+ "    </p>"
										+ "    <p class='col-md-5 switch_div' style='font-weight:bold; margin-top:13px;  color: white'>"
										+ data[0].players[i].general_stats[show_stats].winrate
										+ "</p>"
										+

										"      </td>"
										+ "  </tr>"
										+ "  <tr>"
										+ "      <td>"
										+ "        <p class='col-md-5 kda_text_live1' style='font-weight:bold; color: white;' >"
										+ "          Games played<span style='    padding-left: 10px;' class='kdd'>:</span>"
										+ "    <p class='col-md-5 switch_div' style='font-weight:bold; margin-top:13px;  color: white'>"
										+ data[0].players[i].general_stats[show_stats].games_played
										+ "</p>"
										+ "      </td>"
										+ "  </tr>"
										+ "  <tr>" + "    <td>" +

										"    </td>" + "  </tr>" + "</table>" +

										"</div>" +

										"<table>" +

										"</table>"

										+ "</div></div>");
				$("#" + data[0].players[i].id + "_hover").hover(function() {

					var showID = $(this).attr("ID");
					console.log(showID);
					/* 	$("#" + showID + "_toggle").slideToggle("fast"); */

					$("#" + showID + "_toggle").animate({
						opacity : 1,
						bottom : "+=10px"

					}, 200);
				}, function() {
					var showID = $(this).attr("ID");
					console.log(showID);
					$("#" + showID + "_toggle").animate({
						opacity : 0,
						bottom : "-=10px"

					}, 200);
				});
				$("#" +i+"_"+ data[0].players[i].id + "_hover_toggle").click(
						function() {

							var showID = $(this).attr("ID");
							populateExtraData();
							$("#extra_data").toggle("fast");
						});

			}
		}
		function populateExtraData(data, player_id) {
			console.log(data);
			console.log(player_id);
			$("#extra_data").text("");

			$("#extra_data")
					.append(
							"<table class='extra_class'>"
									+ "<tr>"
									+ "<td colspan='3'><img src='http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/"+data[player_id].champion+".png' class='img_card live_stats_size' style='margin-left: 20%'></img></td>"
									+ "</tr>"
									+ "<tr>"
									+ "	<td><p>"+data[player_id].name+"</p></td>"
									+ "</tr>"
									+ "<tr>"
									+ "	<td><p>"+data[player_id].tier+"</p></td>"
									+ "</tr>"

									+ "</table>"
									+ "<div class='extra_class_stats'>"
									+ "	<table style='float: left;'>"
									+ "		<tr>"
									+ "			<td><p>KDA</p></td>"
									+ "			<td><p>1</p></td>"
									+ "			<td><button type='button' style='padding-left: 19px'"
									+"				class='kda_text_main kda_text' id=''>"
									+ "				<i class='fa fa-times' aria-hidden='true'></i>"
									+ "			</button></td>"
									+ "	</tr>"

									+ "</table>"
									+ "	<table style='float: left;'>"
									+ "	<tr>"
									+ "		<td><p>KDA</p></td>"
									+ "		<td><p>1</p></td>"
									+ "		<td><button type='button' style='padding-left: 19px'"
									+"				class='kda_text_main kda_text' id=''>"
									+ "				<i class='fa fa-times' aria-hidden='true'></i>"
									+ "			</button></td>"
									+ "	</tr>"

									+ "</table>"
									+ "<table style='float: left;'>"
									+ "	<tr>"
									+ "	<td><p>KDA</p></td>"
									+ "	<td><p>1</p></td>"
									+ "	<td><button type='button' style='padding-left: 19px' class='kda_text_main kda_text' id=''>"
									+ "		<i class='fa fa-times' aria-hidden='true'></i>"
									+ "		</button></td>"
									+ "</tr>"

									+ "</table>"
									+ "<table style='float: left;'>"
									+ "	<tr>"
									+ "		<td><p>KDA</p></td>"
									+ "		<td><p>1</p></td>"
									+ "		<td><button type='button' style='padding-left: 19px'"
									+"			class='kda_text_main kda_text' id=''>"
									+ "			<i class='fa fa-times' aria-hidden='true'></i>"
									+ "		</button></td>"
									+ "	</tr>"

									+ "</table>"
									+ "</div>"
									+ "<table class='extra_class_stats_his ' style='float: left;'>"
									+ "<tr>"
									+ "	<td><button type='button' style='padding-left: 19px'"
									+"			class='kda_text_main kda_text' id=''>"
									+ "			<i class='fa fa-times' aria-hidden='true'></i>"
									+ "		</button></td>"

									+ "</tr>"
									+ "<tr>"
									+ "	<td><p>1</p></td>"

									+ "	</tr>"
									+ "<tr>"
									+ "	<td><p>11</p></td>"

									+ "	</tr>"

									+ "</table>"
									+ "<button type='button' style='padding-left: 19px;margin: 20px;'"
									+"	class='kda_text_main kda_text' id='close_extra'>"
									+ "	<i class='fa fa-times' aria-hidden='true'></i>"
									+ "</button>"

					);

			$("#close_extra").click(function() {

				$("#extra_data").fadeOut();
			});
		}
		(function() {
			var morphSearch = document.getElementById('morphsearch'), input = morphSearch
					.querySelector('input.morphsearch-input'), ctrlClose = morphSearch
					.querySelector('span.morphsearch-close'), isOpen = isAnimating = false,
			// show/hide search area
			toggleSearch = function(evt) {
				console.log("dsa");
				// return if open and the input gets focused

				console.log("dsa");
				var offsets = morphsearch.getBoundingClientRect();
				if (isOpen) {
					console.log("dsa");
					classie.remove(morphSearch, 'open');

					// trick to hide input text once the search overlay closes 
					// todo: hardcoded times, should be done after transition ends
					if (input.value !== '') {
						setTimeout(function() {
							classie.add(morphSearch, 'hideInput');
							setTimeout(function() {
								classie.remove(morphSearch, 'hideInput');
								input.value = '';
							}, 300);
						}, 500);
					}

					input.blur();
				} else {
					console.log("dsa");
					classie.add(morphSearch, 'open');
				}
				isOpen = !isOpen;
			};

			// events
			input.addEventListener('focus', toggleSearch);
			ctrlClose.addEventListener('click', toggleSearch);
			// esc key closes search overlay
			// keyboard navigation events
			document.addEventListener('keydown', function(ev) {
				var keyCode = ev.keyCode || ev.which;
				if (keyCode === 27) {
					toggleSearch(ev);
				}
			});

			/***** for demo purposes only: don't allow to submit the form *****/
			morphSearch.querySelector('button[type="submit"]')
					.addEventListener('click', function(ev) {
						ev.preventDefault();
					});
		})();

		(function() {

			[].slice.call(document.querySelectorAll('.tabs')).forEach(
					function(el) {
						new CBPFWTabs(el);
					});

		})();
		(function() {
			var $switch;
			if (Modernizr.touch) {
				$('#output').text('Touch device');
				$switch = $('input[type=\'checkbox\']');
				$switch.on('click', function(event) {
					event.preventDefault();
					return event.stopPropagation();
				});
				$switch.on('touchend', function(event) {
					var $this;
					event.preventDefault();
					event.stopPropagation();
					$this = $(this);
					if ($this.is(':checked')) {
						return $this.prop('checked', false);
					} else {
						return $this.prop('checked', true);
					}
				});
			}
		}.call(this));
		/*]]>*/
	</script>
</body>
</html>