<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>LeagueCore</title>
<meta name="description"
	content="Page Preloading Effect: Re-creating the effect seen on fontface.ninja" />
<meta name="keywords"
	content="page loading, effect, initial, logo, sliding, web design, css animation, transform" />
<meta name="author" content="Codrops" />
<link rel="stylesheet" type="text/css" href="../css/app.css" />
<link rel="stylesheet" type="text/css" href="../css/layout-simple.css" />
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../css/demo.css" />
<link rel="stylesheet" type="text/css" href="../css/component.css" />
<link rel="stylesheet" type="text/css" href="../css/style5.css" />
<link rel="stylesheet" type="text/css" href="../css/tabstyles.css" />
<link rel="stylesheet" type="text/css" href="../css/tabs.css" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../css/effect1.css" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
</head>
<body class="">
	<div id="perspective" class="perspective effect-movedown">
		<div class="container" style="padding: 0px">
			<div class="wrapper">
				<!-- wrapper needed for scroll -->
				<nav style="height: 50px; padding: 17px;" class="main_nav">
					<a href="/html/" style="color: white;">LeagueCore</a>
					<div id="morphsearch" class="morphsearch">
						<form class="morphsearch-form">
							<input class="morphsearch-input" type="search"
								placeholder="Search..." />
							<button class="morphsearch-submit"
								style="box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);"
								type="submit"></button>
						</form>
						<div class="morphsearch-content">
							<div class="dummy-column">
								<h2>Server</h2>

								<p class="dummy-media-object" th:text="@{EU West}"></p>



							</div>

						</div>
						<!-- /morphsearch-content -->
						<span class="morphsearch-close"></span>
					</div>
					<!-- /morphsearch -->
					<div style="float: right">
						<p th:text="${name}" style="color: white;"></p>
						<!-- <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form> -->
						<i class="fa fa-user" aria-hidden="true"></i>
					</div>
				</nav>
				<!-- <p><button id="menu_b"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button></p> -->
				<div class="content_main">
					<h1 class=" ele">Please wait</h1>
					<div class="loader">

						<svg version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 100 100" enable-background="new 0 0 100 100"
							xml:space="preserve">
   <path fill="#ff4081"
								d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
    c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
        <animateTransform attributeName="transform" attributeType="XML"
								type="rotate" dur="2s" from="0 50 50" to="360 50 50"
								repeatCount="indefinite" />
    </path>
   <path fill="#ff4081"
								d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
    c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
        <animateTransform attributeName="transform" attributeType="XML"
								type="rotate" dur="1s" from="0 50 50" to="-360 50 50"
								repeatCount="indefinite" />
    </path>
   <path fill="#ff4081"
								d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
    L82,35.7z">
        <animateTransform attributeName="transform" attributeType="XML"
								type="rotate" dur="2s" from="0 50 50" to="360 50 50"
								repeatCount="indefinite" />
    </path>
  </svg>
					</div>
				</div>
				<!--<div class="toggle_live_buttons" ng-if='loading_data==false && no_game==false'>
  <button  ng-click="toggle_live('champ-panel')" class="mdl-tabs__tab is-active">Champ</button>
  <button  ng-click="toggle_live('main-panel')" class="mdl-tabs__tab">Overall</button>
</div>-->
				<p id="data" th:text="${name}" hidden="hidden"></p>
				<div class="animate_el">
					<div class="no_game" id="no_game">
						<div style="margin-bottom: 10%;">No active game found!</div>
						Featured list:
						<table id="featured" class="featured" style="margin: 60px;    margin-left: 100px;">


						</table>
					</div>
					<div class="left_stats">
						<h1>Important facts</h1>
						<table id="stats">
							<!-- 	<tr>
								<td>fgfdg <span class="kdd">:</span> sdfds
								</td>
							</tr> -->


						</table>

					</div>
					<!-- 	<div class="right_stats">
						<h1>Important facts</h1>
						<section>
						
							/tabs
						</section>

					</div> -->


					<table id="table_stats">

						<!--  <tr class="role">
      <td >
      TOP
      </td>
      <td >
        MID
      </td>

<td >
  BOTTOM
      </td>

<td >
  SUPPORT
      </td>

<td >
JUNGLE
      </td>


      </tr>-->
						<tr id="first_row">


						</tr>
						<tr id="second_row">


						</tr>

					</table>
					<form action='#' id="check">
						<div class='field position'>
							<input id='checkme' style="outline: none" type='checkbox' />

						</div>

					</form>
					<div id='output'></div>


				</div>
			</div>

		</div>
	</div>


	<div class="overlay"></div>
	<nav class="outer-nav top horizontal">
		<a href="#" class="">Home</a> <a href="#" class="">News</a> <a
			href="#" class="">Images</a> <a href="#" class="">Uploads</a> <a
			href="#" class="">Favorites</a> <a href="#" class="">Messages</a> <a
			href="#" class="">Security</a>
	</nav>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="../js/classie.js"></script>
	<script src="../js/pathLoader.js"></script>
	<script src="../js/modernizr.custom.js"></script>
	<script src="../js/cbpFWTabs.js"></script>

	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script type="text/javascript">
		/*<![CDATA[*/
		var show_stats = 0;
		var choices = $('#switch .choice'), text = $('#switch .or')

		choices.on('click', function() {
			choices.toggleClass('on')

			text.addClass('flip')
			setTimeout(function() {
				text.removeClass('flip')
			}, 1000)
		})
		$("#table_stats").hide();
		$(".no_game").hide();
		var last_table = "";
		$(".left_stats").hide();
		$("#check").css({
			"opacity" : 0
		});
		var gen_data;
		function getData() {

			$
					.ajax({
						type : "GET",
						contentType : "application/json",
						url : "/getdata/" + $("#data").text(),

						dataType : 'json',
						timeout : 100000,
						success : function(data) {
							$(".ele").fadeOut();
							$(".loader").fadeOut();
							console.log("SUCCESS: ", data);
							gen_data = data;

							if (data[15] == "no_game") {

								for (i = 0; i < data.length - 1; i += 3) {
									$("#featured")
											.append(
													"<tr><td colspan='2'><a style='font-size: 30px;' href='/livestats/"+data[i]+"'>"+data[i]+"</a>"
															+"</td></tr>"
															+ "<tr id='"+data[i]+"'style='height:0px'><td  class='"+data[i]+"_td extra_feat'><p style='font-size: 30px;'>"+data[i+1]+"</p>"
															+ ""
															+ "</td><td style='padding-top: 15px;' class='"+data[i]+"_td extra_feat'><p style='font-size: 30px;'>"+data[i+2]+"</p></td><td style='padding-top: 15px;' class='"+data[i]+"_td extra_feat'><a style='font-size: 30px;' href='/livestats/"+data[i]+"'>View game</a></td></tr>");
								}
								$("#no_game").fadeIn();
								$(".extra_feat").hide();
							} else {

								$("#check").animate({
									opacity : 1,
									bottom : "+=10px"

								}, 1000);

								populateData(gen_data, show_stats);
								$("#table_stats").fadeIn();
								$("#table_stats").animate({
									opacity : 1,
									bottom : "-=50px"

								}, 500);

								setTimeout(
										function() {
											$(".left_stats").fadeIn();

											$(".left_stats").animate({
												opacity : 1,
												bottom : "+=10px"

											}, 500);

											$("#stats")
													.append(
															"<tr><td>Highest KDA<span class='kdd'> : </span>"
																	+ data[0].stats.highest_kda
																	+ "<span class='kdd'> by     </span><img src= 'http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/" + data[0].stats.highest_kda_key + ".png' class='img_card live_stats_size_side'></img></td>"
																	+ "</tr>"
																	+"<tr><td>Lowest KDA<span class='kdd'> : </span>"
																	+ data[0].stats.lowest_kda
																	+ "<span class='kdd'> by     </span><img src= 'http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/" + data[0].stats.lowest_kda_key + ".png' class='img_card live_stats_size_side'></img></td>"

																	+ "</tr>"
													
													);
										}, 500);

								getHistory(data[0]);

							}

						},

						done : function(e) {
							console.log("DONE");
						}
					});
		};
		$("#check").click(function() {
			if (show_stats == 0) {
				show_stats = 1;
			} else {
				show_stats = 0;
			}
			$(".switch_div").animate({
				opacity : 0,
				bottom : "+=10px"

			}, 200);
			setTimeout(function() {
				console.log(gen_data);
				populateData(gen_data, show_stats);
				$(".switch_div").animate({
					bottom : "-=20px"
				}, 1);
				$(".switch_div").animate({
					opacity : 1,
					bottom : "+=10px"

				}, 200);
			}, 200);
		});
		var iter = 0;
		function expandTier(data) {
			
			if (last_table == "") {
				$("#" + data.id).animate({

					height : "+=50px"

				}, 200);
				setTimeout(function(){
					$("."+data.id+"_td").fadeIn();	
				},200);
				
				last_table = data.id;
			} else {
				$("#" + data.id).animate({

					height : "+=50px"

				}, 200);
				setTimeout(function(){				
				$("."+data.id+"_td").fadeIn();	
				},200);
				$("."+last_table+"_td").fadeOut();	
				setTimeout(function(){		
					console.log(last_table);
				$("#" + last_table).animate({

					height : "-=250px"

				}, 500);
				},300);
				last_table = data.id;
			}

		}
		function getHistory(data) {

			$.ajax({
				type : "GET",
				contentType : "application/json",
				url : "/gethistory/" + data.players[iter].name,

				dataType : 'json',
				timeout : 100000,
				success : function(data) {
					console.log(data);
				},
				error : function(e) {
					console.log("ERROR: ", e);
					iter++;
					if (iter < 10) {
						getHistory(get_data[0]);
					}

				},
				done : function(e) {
					console.log("DONE");
				}
			});
		};
		setTimeout(function() {
			getData();

		}, 500);
		$(function() {

			$('#cd-dropdown').dropdown({
				gutter : 5,
				stack : false,
				slidingIn : 100
			});

		});
		function populateData(data, show_stats) {
			console.log(data);
			console.log(show_stats);
			$("#first_row").text("");
			$("#second_row").text("");
			for (i = 0; i < 5; i++) {
				$("#first_row")
						.append(
								"<td>  <div id='team_1_player_1' class='demo-card-wide mdl-card mdl-shadow1--2dp element element_size'>"
										+

										" <div class='mdl-card__title'>"
										+ " <img src= 'http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/" + data[0].players[i].champion_key + ".png' class='img_card live_stats_size'></img>"
										+

										" </div>"
										+

										" <div class='mdl-tabs mdl-js-tabs mdl-js-ripple-effect'>"
										+

										" <table  class='main-panel is-active'>"
										+

										"  <tr> "
										+ "    <td> "
										+ "    <div  class='col-md-4 switch_div' style='height: 50px !important;''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].kills_per_game
										+ "<span class='kdd'>/</span></p></div> "
										+ "    <div class='col-md-4 switch_div' style='height: 50px !important;''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].assists_per_game
										+ "<span class='kdd'>/</span></p></div> "
										+ "    <div class='col-md-4 switch_div' style='height: 50px !important;''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].deaths_per_game
										+ "</p></div> "
										+

										"     </td>"
										+

										"  </tr>"
										+ "  <tr>"
										+ "      <td>"
										+ "    <p class='col-md-5' style='font-weight:bold; margin-top:13px;  color: #374d5a;'>"
										+ "      Winrate<span class='kdd'>:</span>"
										+ "    </p>"
										+ "    <div class='col-md-5 switch_div' style='height: 50px !important;'><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].winrate
										+ "</p></div>"
										+

										"      </td>"
										+ "  </tr>"
										+ "  <tr>"
										+ "      <td>"
										+ "        <p class='col-md-5 kda_text_live1' style='font-weight:bold; color: #374d5a;' >"
										+ "          Games played<span class='kdd'>:</span>"
										+ "    <div class='col-md-5 switch_div' style='height: 50px !important;'><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].games_played
										+ "</p></div>"
										+ "      </td>"
										+ "  </tr>" + "  <tr>" + "    <td>" +

										"    </td>" + "  </tr>" + "</table>" +

										"</div>" +

										"<table>" +

										"</table>" + "  </div></td>");

			}
			for (i = 5; i < 10; i++) {
				$("#second_row")
						.append(
								"<td>  <div id='team_1_player_1' class='demo-card-wide mdl-card mdl-shadow1--2dp element element_size'>"
										+

										" <div class='mdl-card__title'>"
										+ " <img src= 'http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/" + data[0].players[i].champion_key + ".png' class='img_card live_stats_size'></img>"
										+

										" </div>"
										+

										" <div class='mdl-tabs mdl-js-tabs mdl-js-ripple-effect'>"
										+

										" <table  class='main-panel is-active'>"
										+

										"  <tr> "
										+ "    <td> "
										+ "    <div class='col-md-4 switch_div' style='height: 50px !important;''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].kills_per_game
										+ "<span class='kdd'>/</span></p></div> "
										+ "    <div class='col-md-4 switch_div' style='height: 50px !important;''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].assists_per_game
										+ "<span class='kdd'>/</span></p></div> "
										+ "    <div class='col-md-4 switch_div' style='height: 50px !important;''><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].deaths_per_game
										+ "<span class='kdd'>/</span></p></div> "
										+

										"     </td>"
										+

										"  </tr>"
										+ "  <tr>"
										+ "      <td>"
										+ "    <p class='col-md-5' style='font-weight:bold; margin-top:13px;  color: #374d5a;'>"
										+ "      Winrate<span class='kdd'>:</span>"
										+ "    </p>"
										+ "    <div class='col-md-5 switch_div' style='height: 50px !important;'><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].winrate
										+ "</p></div>"
										+

										"      </td>"
										+ "  </tr>"
										+ "  <tr>"
										+ "      <td>"
										+ "        <p class='col-md-5 kda_text_live1' style='font-weight:bold; color: #374d5a;' >"
										+ "          Games played<span class='kdd'>:</span>"
										+ "    <div class='col-md-5 switch_div' style='height: 50px !important;'><p class='kda_text_live '>"
										+ data[0].players[i].general_stats[show_stats].games_played
										+ "</p></div>"
										+ "      </td>"
										+ "  </tr>" + "  <tr>" + "    <td>" +

										"    </td>" + "  </tr>" + "</table>" +

										"</div>" +

										"<table>" +

										"</table>" + "  </div></td>");

			}

		}
		(function() {
			var morphSearch = document.getElementById('morphsearch'), input = morphSearch
					.querySelector('input.morphsearch-input'), ctrlClose = morphSearch
					.querySelector('span.morphsearch-close'), isOpen = isAnimating = false,
			// show/hide search area
			toggleSearch = function(evt) {
				console.log("dsa");
				// return if open and the input gets focused

				console.log("dsa");
				var offsets = morphsearch.getBoundingClientRect();
				if (isOpen) {
					console.log("dsa");
					classie.remove(morphSearch, 'open');

					// trick to hide input text once the search overlay closes 
					// todo: hardcoded times, should be done after transition ends
					if (input.value !== '') {
						setTimeout(function() {
							classie.add(morphSearch, 'hideInput');
							setTimeout(function() {
								classie.remove(morphSearch, 'hideInput');
								input.value = '';
							}, 300);
						}, 500);
					}

					input.blur();
				} else {
					console.log("dsa");
					classie.add(morphSearch, 'open');
				}
				isOpen = !isOpen;
			};

			// events
			input.addEventListener('focus', toggleSearch);
			ctrlClose.addEventListener('click', toggleSearch);
			// esc key closes search overlay
			// keyboard navigation events
			document.addEventListener('keydown', function(ev) {
				var keyCode = ev.keyCode || ev.which;
				if (keyCode === 27) {
					toggleSearch(ev);
				}
			});

			/***** for demo purposes only: don't allow to submit the form *****/
			morphSearch.querySelector('button[type="submit"]')
					.addEventListener('click', function(ev) {
						ev.preventDefault();
					});
		})();

		(function() {

			[].slice.call(document.querySelectorAll('.tabs')).forEach(
					function(el) {
						new CBPFWTabs(el);
					});

		})();
		(function() {
			var $switch;
			if (Modernizr.touch) {
				$('#output').text('Touch device');
				$switch = $('input[type=\'checkbox\']');
				$switch.on('click', function(event) {
					event.preventDefault();
					return event.stopPropagation();
				});
				$switch.on('touchend', function(event) {
					var $this;
					event.preventDefault();
					event.stopPropagation();
					$this = $(this);
					if ($this.is(':checked')) {
						return $this.prop('checked', false);
					} else {
						return $this.prop('checked', true);
					}
				});
			}
		}.call(this));
		/*]]>*/
	</script>
</body>
</html>